<app-menu></app-menu>

<div class="container">
  <header class="jumbotron hero-spacer">
    <h1>Welcome to Zenika E-Shop</h1>
    <p>Your basket amounts to {{ total }}$</p>
    <p><a class="btn btn-primary btn-large">See my basket</a></p>
  </header>

  <hr />

  <div class="row">
    <div class="col-lg-12">
      <h2>Last products</h2>
    </div>
  </div>
  <div class="row text-center">
    <app-product
      [data]="products[0]"
      (addToBasket)="updatePrice($event)"
    ></app-product>
    <app-product
      [data]="products[1]"
      (addToBasket)="updatePrice($event)"
    ></app-product>
    <app-product
      [data]="products[2]"
      (addToBasket)="updatePrice($event)"
    ></app-product>
    <app-product
      [data]="products[3]"
      (addToBasket)="updatePrice($event)"
    ></app-product>
  </div>

  <hr />

  <footer>
    Copyright &copy; Your Website 2019
  </footer>
</div>
