<app-menu></app-menu>

<div class="container">
  <header class="jumbotron hero-spacer">
    <h1>Welcome to Zenika E-Shop</h1>
    <p>Your basket amounts to {{ total }}$</p>
    <p><a class="btn btn-primary btn-large">See my basket</a></p>
  </header>

  <hr />

  <div class="row">
    <div class="col-lg-12">
      <h2>Last products</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3 col-sm-6 product-item">
      <div class="thumbnail">
        <img [src]="products[0].photo" alt="" />
        <div class="caption">
          <h3>{{ products[0].title }} - {{ products[0].price }}$</h3>
          <p>{{ products[0].description }}</p>
          <p>
            <button class="btn btn-primary">Add to basket</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 product-item">
      <div class="thumbnail">
        <img [src]="products[1].photo" alt="" />
        <div class="caption">
          <h3>{{ products[1].title }} - {{ products[1].price }}$</h3>
          <p>{{ products[1].description }}</p>
          <p>
            <button class="btn btn-primary">Add to basket</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 product-item">
      <div class="thumbnail">
        <img [src]="products[2].photo" alt="" />
        <div class="caption">
          <h3>{{ products[2].title }} - {{ products[2].price }}$</h3>
          <p>{{ products[2].description }}</p>
          <p>
            <button class="btn btn-primary">Add to basket</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 product-item">
      <div class="thumbnail">
        <img [src]="products[3].photo" alt="" />
        <div class="caption">
          <h3>{{ products[3].title }} - {{ products[3].price }}$</h3>
          <p>{{ products[3].description }}</p>
          <p>
            <button class="btn btn-primary">Add to basket</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <footer>
    Copyright &copy; Your Website 2019
  </footer>
</div>
